# Directories

.adobe/
.cache/
.config/
.dbus/
.designer/
.dropbox-dist/
.dropbox/
.dvdcss/
.eclipse/
.foxrc/
.gem/
.gimp-2.8/
.gnupg/
.gphoto/
.gstreamer-0.10/
.icons/
.java/
.kde4/
.local/
.macromedia/
.mozilla/
.mplayer/
.p2/
.pki/
.purple/
.solfege/
.ssh/
.subversion/
.thumbnails/
.tooling/
workspace/

# Files

.Xauthority
.Xdefaults
.bash_history
.directory
.dmrc
.esd_auth
.fonts.conf
.jackdrc
.lesshst
.p7zip
.python_history
.recently-used
.scala_history
.solfegerc
.sqlite_history
.swp
.viminfo
.xsession-errors
