# Directories

.adobe/
.cache/
.config/*
.dbus/
.designer/
.dropbox-dist/
.dropbox/
.dvdcss/
.eclipse/
.eteks/
.foxrc/
.gem/
.gimp-2.8/
.gnupg/
.gphoto/
.gstreamer-0.10/
.icons/
.java/
.kde4/
.local/
.m2/                                                                                      
.macromedia/
.mozilla/
.mplayer/
.oracle_jre_usage/
.p2/
.pki/
.PowerFolder/
.purple/
.solfege/
.ssh/*
.subversion/
.swt/                                                                                     
.texlive/
.thumbnails/
.thunderbird/
.tooling/
.viking*
.visualvm/
Desktop/
Downloads/
workspace/

# Files

.Xauthority
.Xdefaults
.bash_history
!.config/dolphinrc
!.config/lxqt
.directory
.dmrc
.esd_auth
.fonts.conf
.jackdrc
.lesshst
.octave_hist
.p7zip
.python_history
.recently-used
.scala_history
!.ssh/config
.solfegerc
.sqlite_history
.swp
.viminfo
.xsession-errors

